<div class='container'>
 <h1>My Bookings</h1>

<div id="link list">
  <ul>
    <% @bookings.each do |booking|%>
      <li><%=link_to booking.meal.title, meal_path(booking.meal)%></li>
    <% end %>
  </ul>
 </div>
</div>
