<div class='container'>
 <h1>My Bookings</h1>

<div id="link list">
  <ul>
    <% @bookings.each do |booking|%>
    <% @meals.each do |meal|  %>
      <li><%=link_to booking.meal.title, meal_path(meal)%></li>
    <% end %>
    <% end%>
  </ul>
 </div>
</div>
