<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://3x39fmt0aja34zifjfnu4695x-wpengine.netdna-ssl.com/wp-content/uploads/2018/06/180619-dinner-parties-top2.jpg);">
<div class="bannerlogo">
  <%= image_tag "navbar_logo" %>
</div>
  <div>
    <h1>Bringing <strong>people</strong> together to share <strong>meals & ideas</strong>.</h1>
    <%= render 'shared/searchbar', restaurant: @meals %>
  </div>

</div>
