


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://3x39fmt0aja34zifjfnu4695x-wpengine.netdna-ssl.com/wp-content/uploads/2018/06/180619-dinner-parties-top2.jpg);">
  <div class="container">
    <h1>MealShare brings <strong>people</strong> together to <strong>share a meal</strong>.</h1>
  </div>
</div>


<div id="link list">
  <ul>
    <% @meals.each do |meal|%>
      <li><%=link_to meal.id, meal_path(meal)%></li>
    <% end%>
  </ul>
  <%= link_to "Create a meal", new_meal_path%>
</div>
