
.card-trip {
  margin: 30px auto;
  width: 100%;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #ffffff;
  text-align: left;
  padding: 20px;
  border-radius: 28px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 300px;
  width: 100%;
  border-radius: 28px;
  object-fit: cover;
}

.card-trip h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.card-trip h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 10px 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}

.card-trip .card-trip-buttons {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 65px;
  top: -64px;
  width: 114px;
}

.card-trip-infos .card-trip-meal-type {
  position: absolute;
  background: #e4e4e4;
  text-align: center;
  padding: 7px;
  border-radius: 28px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  right: 780px;
  top: -291px;
  width: 163px;
}

.card-trip-text {
  color: black;
}

.btn-book {
  color: #F7F7F7;
  background-color: #48A369;
  border-color: #DAD8E8;
  border-radius: 10px;
}

.btn-book:hover,
.btn-book:focus,
.btn-book:active,
.btn-book.active,
.open .dropdown-toggle.btn-book {
  color: #F7F7F7;
  background-color: #58CC83;
  border-color: #DAD8E8;
}

.btn-book:active,
.btn-book.active,
.open .dropdown-toggle.btn-book {
  background-image: none;
}

.btn-book.disabled,
.btn-book[disabled],
fieldset[disabled] .btn-book,
.btn-book.disabled:hover,
.btn-book[disabled]:hover,
fieldset[disabled] .btn-book:hover,
.btn-book.disabled:focus,
.btn-book[disabled]:focus,
fieldset[disabled] .btn-book:focus,
.btn-book.disabled:active,
.btn-book[disabled]:active,
fieldset[disabled] .btn-book:active,
.btn-book.disabled.active,
.btn-book[disabled].active,
fieldset[disabled] .btn-book.active {
  background-color: #48A369;
  border-color: #DAD8E8;
}

.btn-book .badge {
  color: #48A369;
  background-color: #F7F7F7;
}

.btn-delete {
  color: #F7F7F7;
  background-color: #D12C2C;
  border-color: #DAD8E8;
  border-radius: 10px;
}

.btn-delete:hover,
.btn-delete:focus,
.btn-delete:active,
.btn-delete.active,
.open .dropdown-toggle.btn-delete {
  color: #F7F7F7;
  background-color: #F73131;
  border-color: #DAD8E8;
}

.btn-delete:active,
.btn-delete.active,
.open .dropdown-toggle.btn-delete {
  background-image: none;
}

.chairs {
  font-size: 25px;
  color: #3f915c;
}

.card-trip-meal-type-small {
 position: absolute;
 color: #455627;
 background: #ffe5b4;
 text-align: center;
 padding: 5px;
 border-radius: 28px;
 box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
 right: 102px;
 top: 141px;
 width: 119px;
}

