.meal-container {
  margin: 68px auto;
  max-width: 1000px;
}

.booking-container {
  margin: 68px auto;
  max-width: 1000px;
}

.searchbar-container {
  margin: 20px auto;
  max-width: 500px;
}

.searchbar-container-frontpage {
  margin: 5px auto;
  max-width: 500px;

}
