.footer {
  background-color: transparent;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 20px;
  padding-top: 50px;
  padding-bottom: 0px;
  padding-left: 50px;
  padding-right: 50px;
  color: #a5a4a4;
  position: fixed;
  width: 100%;
  bottom: 0;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #f9f1f1;
  opacity: 0.4;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: white;
  font-size: 26px;
}
.footer .fa-heart {
  color: #a5a4a4;
}
